# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\A研2项目\课题论文\2机理数据融合模型\阀门冲蚀\实战\0207_最开始70个数据跑阀芯\实战代码\oka特征重组\单模型\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
